<form method="post" action="/surveys/create">
  <ul>
    <li>
      <input type="text" name="title" placeholder="Title" class="required">
    </li>
    <li>
      <textarea cols="30" rows="5" name="description" placeholder="Description"></textarea>
    </li>
    <li>
      <input type="text" name="pic_url" placeholder="Picture URL">
    </li>
  </ul>
  <div class="question">
    <p>Please type each possible answer on a new line.</p>
    <p>
      <button id="addQuestion">Add Question</button>
    </p>
    <p>
      <input type="submit" value="Submit">
    </p>
  </div>
</form>
