<h1>Profile</h1>

<a href="/surveys/new">Create Survey!</a>

<p>Surveys you created</p>

<table>
  <tr>
    <td>Title</td>
    <td>Number of responses</td>
    <td>Results summary</td>
  </tr>
<% @surveys.each do |survey| %>
  <tr>
    <td>
  <a href='<%= "/surveys/#{survey["id"]}" %>'><%=survey["title"]%></a>
    </td>
    <td>
      <%= survey["count"] %>
    </td>
    <td>
  <a href='<%="/surveys/#{survey["id"]}/results"%>'> Results summary </a>
  </td>
</tr>
<%end%>
</table>
