<div class="container">
	<div class="head">
	  <h1>Welcome to Survey RedPanda!</h1>
	  <p>This site is a funcitonal SurveyMonkey clone.</p>
    <p>Once signed-in you'll be able to create and take surveys.</p>
	</div>
</div>
