<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <title>Survey RedPanda</title>
</head>
<body>

  <nav>
    <div id='navigation'>
          <a href="/" class='float_left'>Survey RedPanda</a>
        <% if current_user %>
          <a id="sign-out" href="/sessions/<%= current_user.id %>"  class='float_right'>Sign Out</a></li>
        <% else %>
          <a href="/sessions/new" class='float_right'>Sign In</a>
          <a href="/users/new" class='float_right'>Sign Up</a>
        <% end %>
    </div>
  </nav>

  <%= yield %>

</body>
</html>
